@page
@model InventoryManagement.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Product Listing";
}

<h2>Product View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Product ID:</th>
            <th>Product Name:</th>
            <th>Product Cost:</th>
            <th>Product Description:</th>
            <th>Edit Product</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var prod in Model.ProductInventory)
            {
                <tr>
                    <td class="text-danger">@prod.ProductID</td>
                    <td>@prod.ProductName</td>
                    <td>@prod.ProductCost</td>
                    <td>@prod.ProductDescription</td>
                    <td>
                    <div class="text-center">
                            <a asp-page="EditProducts" class="btn btn-outline-primary" asp-route-productid="@prod.ProductID">Edit a Product</a>
                    </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<div class="text-center">
    <a asp-page="AddProducts" class="btn btn-outline-success">Add new Product</a>
    
</div>


